

body {
    background: #770000;
	background-image:url('images/pattern-15.png');
    font-family: Helvetica, Arial;
	color: #FFF;
}
h1 {
    font-size:40px;
    margin:0px;
	float: right;
	color: #FFF;
	text-shadow: 0.1em 0.1em 0.2em black;
}
strong {
    margin:0 0 0 30px;
	color: #FFF;
	opacity:1;
}

a{
	text-decoration:none;
}
img{
	border:0;
}

#outerbox{
	background-color: #FF7000;
	width: 900px;
	height: 550px;
	position: absolute;
	top:0; bottom:0; left:0; right:0;
	margin: auto;
	padding: 15px;
	border-radius: 150px 15px 150px 15px;
	box-shadow: 0  0 50px #000;
}
#innerbox{
	background-color: #FFF;
	background-image:url('images/wood.png');
    background-repeat:no-repeat;
	background-size: 100%;
	background-position:left;
	height: 420px;
	margin: auto;
	padding: 10px 60px 10px 60px;
	border-radius: 100px 10px 100px 10px;
	box-shadow: 0px  0px 20px #000;
}
nav{
	width:100%;
	font-size:35px;
	list-style:none;
	margin:5px;
}
.inner{
	font-size:22px;
}

nav a{
	text-decoration:none;
	font-family:helvetica;
	padding:5px 20px;
	color:#FFF;
	float:left;
	text-align:center;
	
	text-shadow: 0.1em 0.1em 0.2em black;
}

nav a:hover {
	background:#333;
	color:#FFF;
	border-radius: 100px 10px 100px 10px;
	box-shadow: 0px  0px 20px #000;
}

h3{
	font-size:160%;
	padding:0px;
	margin:0px 0px;
}
p{
	font-size:100%;
	color: #EEE;
	padding:5px 5px 5px 5px;
	margin: 0px 0px 10px 0px;
	background-color:#222;
	opacity:0.8;
	border-radius: 10px 10px 10px 10px;
}


#temp{
	width:47%;
	padding:10px;
	float: left;
	text-align: justify;
}

#email{
	width:47%;
	padding:10px;
	float: left;
	text-align:left;
}

#bio{
	width:400px;
	padding:10px;
	float: left;
	text-align:justify;
}
#biopic{
	width:40%;
	padding:10px;
	float: right;
	border:1px;
	text-align:justify;
}


#box{
	background-color: #111;
	padding: 1px 15px 0px 15px;
	margin: 10px 0px 0px 0px;
	border-radius: 20px 20px 20px 20px;
	height:400;
	float: center;
}
#box2{
	background-color: #EED;
	padding: 0px 15px 0px 15px;
	border-radius: 20px 20px 20px 20px;
	float: center;
}


