<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset='UTF-8'>
    <title>{% block title %}{% endblock title %} - VTPK</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock head %}
  </head>
  <body>
    <div id="bodycontainer">
    <header>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/videos'>Videos</a></li>
          <li><a href>About</a></li>
        </ul>
      </nav>
      <h1><a href="/">Virginia Tech Parkour<a></h1>
    </header>
      <div id="content">
        {% block content %}
        {% endblock content %}
      </div>
      <footer>
      </footer>

      <script src="http://code.jquery.com/jquery-2.0.3.js"></script>
      <script src="{{ url_for('static', filename='js/config.js') }}"></script>
      <script src="{{ url_for('static', filename='js/util.js') }}"></script>
      {% block scripts %}
      {% endblock scripts %}
    </div>
  </body>
</html>